@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
nav {
    background-color: #212529;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}
nav> a {
    height: 100%;
}
nav img {
    height: 100%;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin-right: 25px;
}
nav ul li a {
    color: white;
    font-size: 1.3em;
    text-decoration: none;
}
main {
}
main .imagen {
    display: flex;
    background-color: #212529;
    justify-content: center;
}
main .monaLisa {
    margin-top: 50px;
    background-image: url(img/mona.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: calc(100vh - 50px);
    max-width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
}
main .monaLisa h3 {
    font-size: 2.5em;
    color: #ffffff;
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
    text-shadow: 1px 3px black;
}
.informacionMuseo {
    height: 100vh;
    background-color: #F2F2F3;
    background-image: none;
    display: flex;
}
.informacionMuseoIzquierda {
    width: 350px;
    height: 100%;
    background-color: #e7afa3;
}
.informacionMuseoDerecha h3 {
    padding-left: 80px;
    padding-top: 100px;
    max-width: 1100px;
    font-size: 4em;
    color: #000000;
    font-weight: 900;
}
.informacionMuseoDerecha h5 {
    max-width: 1300px;
    padding-top: 50px;
    padding-left: 80px;
    font-size: 1.2em;
    font-family: 'Work Sans', sans-serif;
}
.informacionMuseoDerecha h4 {
    padding-left: 80px;
    padding-top: 50px;
    max-width: 1000px;
    font-size: 2em;
    color: #000000;
    font-weight: 900;
}
/*Exhibicion*/
.imagenExhibicion {
    width: 50%;
    height: 450px;
}
.cardsExhibiciones {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 100px 400px;
    background-color: #F2F2F3;
}
.cardExhibicion {
    margin: 0 25px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    max-height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    transition: 0.4s all;
    padding-bottom: 20px;
    cursor: pointer;
}
.cardExhibicion:hover {
    transform: translateY(-10px);
    max-height: none;
}
.cardExhibicion:hover h3 {
    display: block;
}
.cardExhibicion img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0 0;
}
.cardExhibicion  h2 {
    font-size: 1.3em;
    padding: 0 10px;
    text-align: center;
}
.cardExhibicion  h5 {
    margin-top: 5px;
    color: #acabab;
    margin-bottom: 10px;
    padding: 0 10px;
}
.cardExhibicion h3 {
    display: none;
    max-width: 100%;
    margin-top: 10px;
    padding-bottom: 10px;
    padding: 0 10px;
    font-size: 0.7em;
    font-family: 'Work Sans', sans-serif;
}
/*Eventos*/
.imagenEventos {
    height: 400px;
    width: 50%;
}
.calendario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0;
}
.calendario a {
    text-decoration: none;
    color: black;
}
.calendario h2 {
    position: relative;
    padding-left: 30px;
    font-size: 2em;
    margin-left: -10px;
    text-align: center;
    margin-bottom: 10px;
}
.calendario h3 {
    margin-bottom: 10px;
}
.calendario .evento {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid black;
}
.calendario .evento:hover {
    background-color: #d3d3d3;
}
.calendario h2::before {
    content: "";
    position: absolute;
    margin-left: -25px;
    top: 50%;
    margin-top: -10px;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    background-color: red;
}
.imagenContacto {
    height: 350px;
    width: 100%;
}
.infoContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoContacto h1 {
    font-size: 3em;
    margin-top: 20px;
}
.infoContacto h4 {
    color: gray;
    font-size: 1em;
    margin-top: 5px;
}
.negrita {
    color: black;
}
footer {
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
footer img {
    width: 30px;
    margin-left: 10px;
    height: 30px;
}
footer .logoFooter {
    height: 80px;
    width: 80px;
}
footer .logoRedes {
    display: flex;
}
footer .logoRedes  ul {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    list-style: none;
}
footer .logoRedes  ul img {
    padding: 5px;
    background-color: white;
}
footer .explorar ul {
    display: flex;
    list-style: none;
}
footer .explorar ul li {
    margin-right: 50px;
    text-decoration: none;
}
footer .explorar ul li a{
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}